body {
  font-family: "Roboto",
  sans-serif; 
  font-size: 20px;
  color:black;
  text-align: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 15px;
}

h1, h2 {
  font-family: "Quicksand";
}

h2 {
  padding: 0px 15px;
  display: inline;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

p {
  text-align: left;
}

p, form {
  margin-bottom: 30px;
}

ul {
  list-style-type:none;
}
